<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PTSLibrary.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-1EK6104;Initial Catalog=wm75;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>